/* Wrapper for the entire character detail page */
.character-detail-wrapper {
    background-color: #0c1447;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Genshin', sans-serif;
}

/* Container for character details */
.character-detail-container {
    border-radius: 10px;
    background-color: #1f2b56;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 140px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Genshin', sans-serif;
}

.character-header {
    padding: 20px;
    display: grid;
    grid-template-columns: auto 2fr;
    align-items: center;
    text-align: center;
    font-family: 'Genshin', sans-serif;
    background-size: 150px;
    background-position: center;
    animation-name: fadeInBackground;
    animation-duration: 1s;
    animation-fill-mode: both;
}

/* Define CSS animation */
@keyframes fadeInBackground {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.character-header img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    grid-column: 1;
    padding: 12px;
    transition: transform 0.3s ease-in-out;
}

.character-header img:hover {
    transform: scale(1.1);
}


/* Info section styles */
.character-info {
    border-radius: 10px;
    background-color: #1f2b56;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
    height: auto;
    align-self: start;
    grid-column: 2;
}

/* Responsive Media Queries */
@media (max-width: 768px) {
    .character-header {
        grid-template-columns: auto;
        justify-content: center;
    }

    .character-info {
        margin-top: 20px;
        width: 100%;
        max-width: none;
        height: auto;
    }
}

/* Info section item styles */
.info-item h3 {
    color: #ecce72;
    font-size: 24px;
    margin-bottom: 10px;
}

.info-item p {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Character section styles */
.character-section {
    margin-top: 40px;
}

.character-section h3 {
    color: #ecce72;
    font-size: 28px;
    margin-bottom: 20px;
}

.character-section .talent,
.character-section .passive-talent,
.character-section .constellation {
    border-radius: 10px;
    background-color: #2a376e;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}
.character-section .ascension-level {
    border-radius: 10px;
    background-color: #1f2b56;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}
.character-section .talent h4,
.character-section .passive-talent h4,
.character-section .ascension-level h4,
.character-section .constellation h4 {
    color: #ecce72;
    font-size: 24px;
    margin-bottom: 10px;
}

.character-section .talent p,
.character-section .passive-talent p,
.character-section .constellation p {
    font-size: 20px;
    color: #fdedda;
    margin-bottom: 15px;
}

.character-section .ascension-level ul li {
    font-size: 18px;
    color: #fdedda;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #2a376e;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.character-section .ascension-level ul li img {
    margin-right: 10px;
    width: 44px;
    height: 44px;
}

/* Character links styles */
.character-links a {
    color: #007bff;
    text-decoration: none;
}

.character-links a:hover {
    text-decoration: underline;
}

/* Error message styles */
.error-message {
    color: red;
    text-align: center;
}

/* Character build styles */
.character-build {
    border-radius: 10px;
    background-color: #1f2b56;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.character-build h4 {
    color: #ecce72;
    font-size: 24px;
    margin-bottom: 10px;
}

/* Style for each build item */
.build-item {
    border-radius: 10px;
    background-color: #2a376e;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    list-style: none;
}

/* Style for sublists within build items */
.build-sublist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 0;
}

/* Add rounded border to list items inside build-sublist */
.build-sublist li {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    list-style: none;
}

/* Style for text inside build-sublist */
.build-sublist li h5,
.build-sublist li p {
    color: #fdedda;
    font-size: 18px;
    margin-bottom: 10px;
}

.weapon-image {
    width: 70px;
    height: auto;
    margin-right: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.weapon-image:hover {
    transform: scale(1.1);
    filter: brightness(110%);
}


/* Remove list markers */
.build-item::marker,
.build-sublist::marker {
    display: none;
}

/* Upgrade materials section styles */
.upgrade-materials {
    border-radius: 10px;
    background-color: #1f2b56;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
}

.upgrade-materials-item {
    border-radius: 10px;
    background-color: #2a376e;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.upgrade-materials-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.upgrade-materials-item h4 {
    color: #ecce72;
    font-size: 24px;
    margin-bottom: 10px;
}

.upgrade-materials-item p {
    font-size: 18px;
    color: #fdedda;
    margin-bottom: 10px;
}

/* Artifacts section styles */
.character-section.artifacts {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .artifacts-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .artifact-set {
    border-radius: 10px;
    background-color: #2a376e;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .artifact-set h4 {
    color: #ecce72;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .artifact-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
  }
  
  .artifact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .artifact-item img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.artifact-item img:hover {
    transform: scale(1.1);
    filter: brightness(110%);
}

  
  .artifact-item p {
    color: #fdedda;
    font-size: 18px;
    text-align: center;
  }
  