/* CharacterDetailPage.css */

/* Wrapper for the entire character detail page */
.character-detail-wrapper {
    background-color: #0c1447; /* Night theme background color */
    padding: 20px;
    border-radius: 10px; /* Rounded box */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    min-height: 100vh; /* Use min-height instead of height for responsiveness */
    display: flex;
    flex-direction: column; /* Align children vertically */
    justify-content: center; /* Center content vertically */
    text-align: center;
    font-family: 'Genshin', sans-serif;
}

/* Container for character details */
.character-detail-container {
    border-radius: 10px; /* Rounded box */
    background-color: #1f2b56; /* Dark blue */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 140px; /* Center the container */
    flex: 1; /* Take remaining vertical space */
    display: flex;
    flex-direction: column; /* Align children vertically */
    justify-content: center; /* Center content vertically */
    text-align: center;
    font-family: 'Genshin', sans-serif;
}

/* Header styles */
.character-detail-container h2 {
    color: #ecce72; /* Genshin yellow */
    font-size: 48px;
    margin-bottom: 20px;
}

/* Header styles */
.character-header {
    background-color: #1f2b56; /* Dark blue */
    padding: 20px;
    display: grid;
    grid-template-columns: auto 2fr; /* Increase the width of the second column */
    align-items: center; /* Center vertically */
    text-align: center;
    font-family: 'Genshin', sans-serif;
    background-size: 150px; /* Cover the entire container */
    background-position: center; /* Center the background image */
    /* Add CSS animations */
    animation-name: fadeInBackground;
    animation-duration: 1s;
    animation-fill-mode: both;
}

/* Define CSS animation */
@keyframes fadeInBackground {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.character-header img {
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%;
    grid-column: 1; /* Position image in the first column */
    padding: 12px; /* Add padding to create space between border and image */
    transition: transform 0.3s ease-in-out; /* Add smooth transition for hover effect */
}

.character-header img:hover {
    transform: scale(1.1); /* Scale up the image on hover for a zoom effect */
}



/* Info section styles */
.character-info {
    border-radius: 10px;
    background-color: #1f2b56;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    width: 100%; /* Adjusted width for the character info */
    max-width: 600px; /* Maximum width for larger screens */
    height: auto; /* Adjusted height for the character info */
    align-self: start; /* Align to the top of the grid cell */
    grid-column: 2; /* Position character info in the second column */
}

/* Responsive Media Queries */
@media (max-width: 768px) {
    .character-header {
        grid-template-columns: auto; /* Change to single column layout on smaller screens */
        justify-content: center; /* Center align on smaller screens */
    }

    .character-info {
        margin-top: 20px;
        width: 100%; /* Adjust width to full width on smaller screens */
        max-width: none; /* Remove max-width restriction */
        height: auto; /* Adjust height to auto */
    }
}


.info-item h3 {
    color: #ecce72; /* Genshin yellow */
    font-size: 24px;
    margin-bottom: 10px;
}

.info-item p {
    font-size: 20px;
    margin-bottom: 10px;
}
.info-section h3 {
    color: #ecce72; /* Genshin yellow */
    font-size: 36px;
    margin-bottom: 10px;
}

.info-section p {
    font-size: 24px;
}

/* Character section styles */
.character-section {
    margin-top: 40px;
}

.character-section h3 {
    color: #ecce72; /* Genshin yellow */
    font-size: 28px;
    margin-bottom: 20px;
}

.character-section .talent,
.character-section .passive-talent,
.character-section .constellation {
    border-radius: 10px; /* Rounded border */
    background-color: #2a376e;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.character-section .ascension-level{
    border-radius: 10px; /* Rounded border */
    background-color:#1f2b56;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.character-section .talent h4,
.character-section .passive-talent h4,
.character-section .ascension-level h4,
.character-section .constellation h4 {
    color: #ecce72; /* Genshin yellow */
    font-size: 24px;
    margin-bottom: 10px;
}

.character-section .talent p,
.character-section .passive-talent p,
.character-section .constellation p {
    font-size: 20px;
    color: #fdedda; /* Light text color */
    margin-bottom: 15px;
}

.character-section .ascension-level ul li {
    font-size: 18px; /* Decrease font size for better fit */
    color: #fdedda; /* Light text color */
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #2a376e; /* Dark blue */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex; /* Align items horizontally */
    align-items: center; /* Center items vertically */
}

.character-section .ascension-level ul li img {
    margin-right: 10px; /* Add space between icon and text */
    width: 44px; /* Set width for consistency */
    height: 44px; /* Set height for consistency */
}

/* Character links styles */
.character-links a {
    color: #007bff;
    text-decoration: none;
}

.character-links a:hover {
    text-decoration: underline;
}

/* Error message styles */
.error-message {
    color: red;
    text-align: center;
}
.character-section {
    margin-top: 40px;
  }
  
  .character-section h3 {
    color: #ecce72;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .character-build {
    border-radius: 10px;
    background-color: #1f2b56;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .character-build h4 {
    color: #ecce72;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .character-build ul li {
    font-size: 18px; /* Decrease font size for better fit */
    color: #fdedda; /* Light text color */
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #2a376e; /* Dark blue */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex; /* Align items horizontally */
    align-items: center; /* Center items vertically */
  }
  
  .character-build ul li:last-child {
    margin-bottom: 0;
  }

  .weapon-image {
    width: 70px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 5px; /* Add some spacing between images */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }
  
/* CSS Styles for Artifact Image */
.artifact-image {
    width: 50px; /* Example width */
    height: 50px; /* Example height */
    margin-right: 10px; /* Example margin */
    border-radius: 50%; /* Example border radius for rounded images */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Example box shadow for a subtle effect */
  }
  
  
