:root {
    --card-height: 300px;
    --card-width: calc(var(--card-height) / 1.5);
}

@font-face {
    font-family: 'Genshin';
    src: url('/public/fonts/genshin-font.woff') format('woff');
}

.card {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 36px;
    perspective: 2500px;
    margin: 0 50px;
}

.cover-image {
    width: 70%;
    height: 70%;
    object-fit: cover;
}

.wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
}

.wrapper::before,
.wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
}

.wrapper::before {
    top: 0;
    height: 100%;
}

.wrapper::after {
    bottom: 0;
    opacity: 1;
}

.card:hover .wrapper::before,
.wrapper::after {
    opacity: 1;
}

.card:hover .wrapper::after {
    height: 120px;
}

.title {
    width: 100%;
    transition: transform 0.5s;
}

.card:hover .title {
    transform: translate3d(0%, -50px, 100px);
}

.character {
    width: 40%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
}

.card:hover .character {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
}

/* HomePage.css */

.HomePage {
    text-align: center;
    padding: 20px;
    background-color: #0c1447;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    color: #ecce72;
    font-size: 48px;
    margin-bottom: 20px;
}

.site-content {
    border-radius: 10px;
    background-color: #1f2b56;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    animation: site-loading-delay 3s forwards;
    margin-top: 20px;
    flex: 1;
}

.character-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {
    width: 50px;
    height: 50px;
    aspect-ratio: 1;
    color: #ecce72;
    position: relative;
    animation: l40 .5s infinite alternate;
}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    inset: 0;
    background-size: 25px 25px;
    background-position: 0 0,100% 0,100% 100%,0 100%;
    background-repeat: no-repeat;
}

.loader:before {
    background-image:
        radial-gradient(farthest-side at top    left ,currentColor 96%,#0000),
        radial-gradient(farthest-side at top    right,currentColor 96%,#0000),
        radial-gradient(farthest-side at bottom right,currentColor 96%,#0000),
        radial-gradient(farthest-side at bottom left ,currentColor 96%,#0000);
    animation: l40-1 1s infinite;
}

.loader:after {
    background-image: 
        radial-gradient(farthest-side at top    left ,#0000 94%,currentColor 96%),
        radial-gradient(farthest-side at top    right,#0000 94%,currentColor 96%),
        radial-gradient(farthest-side at bottom right,#0000 94%,currentColor 96%),
        radial-gradient(farthest-side at bottom left ,#0000 94%,currentColor 96%);
    animation: l40-2 1s infinite;
}

.loader-text {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ecce72;
    text-align: center;
}

@keyframes site-loading-delay {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.filter-options {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2b56;
    border-radius: 10px;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.filter-options button {
    background-color: transparent;
    border: none;
    padding: 5px;
    font-family: 'Genshin', sans-serif;
    color: #fdedda;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.filter-options button img {
    max-width: 24px;
    max-height: 24px;
    margin-right: 5px;
}

.filter-options button:hover {
    opacity: 0.8;
}

.rarity-filters,
.element-filters,
.weapon-type-filters {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.rarity-filters button,
.element-filters button,
.weapon-type-filters button {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.separator {
    width: 2px;
    height: 20px;
    background-color: #ffffff;
    margin: 0 20px;
}

.active {
    background-color: #ffffff;
    color: #1f2b56;
    border-color: #ffffff;
    opacity: 0.5;
}

.rarity-filters button:hover,
.element-filters button:hover,
.weapon-type-filters button:hover {
    background-color: #ffffff;
    color: #1f2b56;
    border-color: #ffffff;
}

[data-tooltip] {
    position: relative;
}

[data-tooltip]:hover::before {
    content: attr(data-tooltip);
    position: absolute;
    background-color: #1f2b56;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 1;
}

.search-bar {
    margin: 20px 0;
    background-color: #152238;
    position: relative;
    border-radius: 10px;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    color: #ffffff;
    background-color: #152238;
    padding-left: 40px;
}

.search-bar input:focus {
    outline: none;
    border-color: #007bff;
}

.magnifying-glass-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    fill: #ffffff;
}

.clear-icon {
    position: absolute;
    top: 38%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: none;
}

.search-bar input:not(:placeholder-shown) + .clear-icon {
    display: block;
}
